:root {
    --present: gold;
    --correct: lightgreen;
    --background: #0f0f0f;
    --foreground0: #212121;
    --foreground1: #303030;
    --foreground2: #424242;
    --foreground3: #f0f6f0;
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.game-wrapper {
    max-width: 60rem;
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "gamegrid"
        "keyboard";
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    max-height: 100vh;
}

#game-grid {
    grid-area: gamegrid;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, 1.6em);
    font-size: 2.2rem;
    gap: .5em;
}

@media (max-width: 20rem) {
    #game-grid {
        font-size: 2rem;
    }
}

.word-row {
    display: grid;
    grid-template-columns: repeat(5, minmax(1em, 1.6em));
    gap: .3em;
}

.letter-block {
    min-width: 1.25em;
    min-height: 1.25em;
    border: 2px solid var(--foreground1);
    border-radius: .2rem;
    color: var(--foreground3);

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes letter-opening {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.letter-block[data-state="opened"] {
    animation: letter-opening .1s ease-out;
}

@keyframes letter-entering {
    0% {transform: scaleY(1);}

    49% {background-color: transparent;}

    50% {
        transform: scaleY(0);
        background-color: var(--foreground0);
        color: var(--foreground3);
        border-color: transparent;
    }
    
    100% {
        transform: scaleY(1);
        background-color: var(--foreground0);
        color: var(--foreground3);
        border-color: transparent;
    }
}

.letter-block[data-state="entered"] {
    animation: letter-entering .5s ease-out forwards;
}

@keyframes letter-opening-present {
    0% {transform: scaleY(1);}

    49% {background-color: transparent;}

    50% {
        transform: scaleY(0);
        background-color: var(--present);
        color: var(--foreground3);
        border-color: transparent;
    }
    
    100% {
        transform: scaleY(1);
        background-color: var(--present);
        color: var(--foreground3);
        border-color: transparent;
    }
}

.letter-block[data-state="present"] {
    animation: letter-opening-present .5s ease-out forwards;
}

@keyframes letter-opening-correct {
    0% {transform: scaleY(1);}

    49% {background-color: transparent;}
    
    50% {
        transform: scaleY(0);
        background-color: var(--correct);
        color: var(--foreground3);
        border-color: transparent;
    }
    
    100% {
        transform: scaleY(1);
        background-color: var(--correct);
        color: var(--foreground3);
        border-color: transparent;
    }
}

.letter-block[data-state="correct"] {
    animation: letter-opening-correct .5s ease-out forwards;
}

#keyboard {
    max-width: 40rem;
    grid-area: keyboard;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: .2em;
    font-size: 1.5rem;
}

.keyboard-row {
    gap: .2em;
    display: grid;
}

#row_1 {
    grid-template-columns: repeat(10, 1fr);
}
#row_2 {
    padding: 0 1ch;
    grid-template-columns: repeat(9, 1fr);
}
#row_3 {
    grid-template-columns: 2fr repeat(7, 1fr) 2fr;
}

.keyboard-button {
    user-select: none;
    background-color: var(--foreground2);
    color: var(--foreground3);
    font-weight: 300;
    padding: .5em .1em;
    width: 100%;
    cursor: pointer;
    border-radius: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.keyboard-button:hover,
.keyboard-button:focus {
    filter: brightness(1.2);
}

.keyboard-button[data-state="correct"] {
    background-color: var(--correct);
}

.keyboard-button[data-state="present"] {
    background-color: var(--present);
}

.keyboard-button[data-state="entered"] {
    background-color: var(--foreground0);
}

.modal-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000a;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--foreground1);
    font-size: 2rem;
    color: var(--foreground3);
    padding: 1em;
    border-radius: .2rem;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-header, .modal-body {
    text-align: center;
}

.modal-body {
    font-size: 1.5em;
}

.modal-footer {
    font-size: .5em;
    opacity: .5;
}